.section-genresGrid {
  background: url("./images/band.jpeg");
  background-size: cover;
}

.section-genresGrid h1 {
  font-size: 40px;
  padding-top: 40px;
  color: white;
  z-index: 0;
  backdrop-filter: blur(3px);
}

.genre-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.genre-item {
  flex: 0;
  flex-basis: 20vw;
  box-sizing: border-box;
  margin: 2%;
  cursor: pointer;
  border: 3px solid orange;
}

img {
  height: 100%;
  width: 100%;
}