* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html,
body {
  background-color: white;
  color: #555;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.playlist {
  display: inline-block;
  width: 25%;
  padding: 10px;
}
.playlist-name {
  color: blue;
}
.playlist-image {
  width: 60px;
}
.playlist-tracks {
  margin-top: 10px;
  font-weight: bold;
  padding-top: 2px;
}

.rocktracks {
  display: block;
}

button {
  border: none;
  outline: none;
  padding: 20px;
  width: 300px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  font-size: 22px;
  margin: 0% 4%;
}

.button-green {
  background-color: #1db954;
}

.button-green:hover {
  background-color: rgb(19, 134, 60);
  transition: 0.2s;
}

.button-orange{
  background-color: rgba(255, 196, 0, 0.699);
}

.button-orange:hover {
  background-color: rgba(214, 164, 0, 0.719);
  transition: 0.2s;
}

.button-flex {
  display: flex;
  justify-content: center;
  margin: 2rem 2vh
}

.counter {
  width: 40%;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

h1 {
  padding-top: 15%;
}